# .gitignore for pyhon
.idea
.venv/
data/*
.vs/
tests/*
.env
**/__pycache__/
**/.pytest_cache/
*.py[cod]
*$py.class
logs/*
excel_sources/
ollama_data
qdrant_storage
docs/notebooklm-py
docs/imported
mongo_data/*
notebooklm_auth/*
secrets/
.claude